*.jpg
*.png
*.gif
*.txt
*.pdf
*.rar
*.zip
Presentaciones/
Curso SoloLearn/
Libros/
Python Institute/
Ambientes virtuales/
Códigos/Proyectos en Python
Códigos/Test.py
Códigos/Finanzas\ con\ Python/__pycache__/