*.jpg
*.png
*.gif
*.txt
*.pdf
*.rar
*.zip
*.docx
Presentaciones/
Curso SoloLearn/
Libros/
Python Institute/
Ambientes virtuales/
Códigos/Proyectos en Python
Códigos/prueba.py
Códigos/Finanzas\ con\ Python/__pycache__/
*__pycache__*
Códigos/Pruebas de Conceptos
*Pruebas de Conceptos*
